<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h1>Edit User {{user.id}}</h1>
    <form action='/users/{{id}}/edit' method = 'POST'>
        {% csrf_token %}
        <p>First name:</p>
        <input type='text' name="fname" >
        <p>Last name:</p>
        <input type='text' name="lname" >
        <p>Email:</p>
        <input type='text' name="email" >
        
        <p><input type="submit" value="Update"></p>
    </form>
        
        <p><a href="/users/{{id}}"> Show </a> | <a href="/"> Go Back </a></p>
        
    
</body>
</html>