<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body> 
    <h1> User {{user.id}}</h1>
    </h3>
    <table>
    <tr>
        <td>Full Name: </td>
        <td> {{user.f_name}}{{user.l_name}}  </td>
    </tr>
    <tr>
        <td>Email:  </td>
        <td> {{user.email}}  </td>
    </tr>
    <tr>
        <td> Created at:  </td>
        <td> {{user.created_at }} </td>
    </tr>
</table>
    <p><a href="/users/{{user.id}}/edit">
        Edit
    </a></p>
    <p><a href="/users/{{user.id}}/destroy"> 
        Delete
    </a></p>


</body>
</html>